@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);

  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-grey-blue: hsl(224, 30%, 27%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}
.container {
  display: flex;
  background-color: var(--white);
  width: 800px;
  border-radius: 30px;
  box-shadow: 0 10px 20px hsla(224, 30%, 27%, 0.2);
  margin: 10px;
}
.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 70px 50px 70px;
  width: 50%;
  text-align: center;
  background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
  border-radius: 30px;
}
.result h1 {
  font-size: 1.2rem;
  color: var(--light-lavender);
  margin-bottom: 25px;
}
.circle-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(var(--violet-blue), var(--persian-blue));
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 25px;
}
.circle-display h2 {
  font-size: 3.2rem;
  font-weight: 800;
  color: var(--white);
}
.circle-display p {
  font-size: 0.9rem;
  font-weight: 700;
  color: hsl(246, 100%, 75%);
}
.result-description h3 {
  color: var(--pale-blue);
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.result-description p {
  font-size: 0.9rem;
  color: var(--light-lavender);
}

.summary {
  display: flex;
  flex-direction: column;
  padding: 40px 40px 50px 40px;
  width: 50%;
}
.summary-section {
  display: flex;
  flex-direction: row;
  padding: 15px;
  border-radius: 10px;
  justify-content: space-between;
  margin-bottom: 15px;
}
.summary h2 {
  font-size: 1.2rem;
  margin-bottom: 25px;
}
.summary-header {
  display: flex;
  flex-direction: row;
}
.summary-header img {
  display: flex;
  align-items: center;
  width: 0.9rem;
  margin-right: 10px;
}
.summary-header h3 {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}
.reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
}
.reaction-header h3 {
  color: var(--light-red)
}
.memory {
  background-color: hsla(39, 100%, 56%, 0.1);;
}
.memory-header h3 {
  color: var(--orangey-yellow);
}
.verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
}
.verbal-header h3 {
  color: var(--green-teal);
}
.visual {
  background-color: hsla(234, 85%, 45%, 0.1);
  margin-bottom: 30px;
}
.visual-header h3 {
  color: var(--cobalt-blue);
}
.score {
  display: flex;
  flex-direction: row;
}
.score h4 {
  font-size: 0.9rem;
}
.score span {
  color: hsl(257, 7%, 60%);
}
.continue-btn {
  font-size: 0.9rem;
  padding: 20px;
  border-radius: 40px;
  border: none;
  font-weight: 500;
  color: var(--white);
  background-color: var(--dark-grey-blue);
  margin-top: auto;
}
.continue-btn:hover {
  cursor: pointer;
  background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
}

@media screen and (max-width: 425px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100dvh;
    margin: 0px;
    border-radius: 0;
    box-shadow: none;
  }
  .result {
    padding: 30px;
    width: 100%;
    height: 45dvh;
    border-radius: 0px 0px 30px 30px;
  }
  .result h1 {
    font-size: 1.1rem;
    margin-bottom: 15px;
  }
  .circle-display {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
  }
  .circle-display h2 {
    font-size: 3rem;
  }
  .circle-display p {
    font-size: 0.9rem;
  }
  .result-description h3 {
    font-size: 1.4rem;
    margin-bottom: 15px;
  }
  .result-description p {
    font-size: 0.9rem;
  }

  .summary {
    padding: 20px 40px 40px 40px;
    width: 100%;
    height: 55dvh;
  }
  .summary-section {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  .summary h2 {
    font-size: 1.1rem;
    margin-bottom: 15px;
  }
  .summary-header img {
    width: 0.9rem;
    margin-right: 10px;
  }
  .summary-header h3 {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
  }
  .score h4 {
    font-size: 0.9rem;
  }
  .continue-btn {
    font-size: 0.9rem;
    padding: 20px;
    border-radius: 40px;
    margin-top: auto;
  }
}