@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);

  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-grey-blue: hsl(224, 30%, 27%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
  background-color: var();
}
.container {
  display: flex;
  background-color: var(--white);
  max-width: 900px;
  border-radius: 30px;
  box-shadow: 0 10px 20px hsla(224, 30%, 27%, 0.2);
}
.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 70px 70px 70px;
  width: 50%;
  text-align: center;
  background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
  border-radius: 30px;
}
.result h1 {
  font-size: 1.5rem;
  color: var(--light-lavender);
  margin-bottom: 30px;
}
.circle-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(var(--violet-blue), var(--persian-blue));
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
}
.circle-display h2{
  font-size: 4rem;
  font-weight: 800;
  color: var(--white);
}
.circle-display p {
  font-weight: 700;
  color: hsl(246, 100%, 75%);
}
.result-description h3 {
  color: var(--pale-blue);
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.result-description p {
  color: var(--light-lavender);
}

.summary {
  display: flex;
  flex-direction: column;
  padding: 40px 60px 70px 60px;
  width: 50%;
}
.summary-section {
  display: flex;
  flex-direction: row;
  padding: 15px;
  border-radius: 10px;
  justify-content: space-between;
  margin-bottom: 15px;
}
.summary h2 {
  margin-bottom: 30px;
}
.summary-header {
  display: flex;
  flex-direction: row;
}
.summary-header img {
  width: 1rem;
  margin-right: 10px;
}
.summary-header h3 {
  font-size: 1rem;
}
.reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
}
.reaction-header h3 {
  color: var(--light-red)
}
.memory {
  background-color: hsla(39, 100%, 56%, 0.1);;
}
.memory-header h3 {
  color: var(--orangey-yellow);
}
.verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
}
.verbal-header h3 {
  color: var(--green-teal);
}
.visual {
  background-color: hsla(234, 85%, 45%, 0.1);
}
.visual-header h3 {
  color: var(--cobalt-blue);
}
.score {
  display: flex;
  flex-direction: row;
}
.score span {
  color: hsl(257, 7%, 60%);
}
.continue-btn {
  padding: 20px;
  border-radius: 40px;
  border: none;
  font-weight: 500;
  color: var(--white);
  background-color: var(--dark-grey-blue);
  margin-top: auto;
}